@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/bootstrap";

// Root styles

* {
  font-family: "DM Sans", serif;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

// Nav

.header-logo {
  height: 100px;
  width: 150px;
}

.h100 {
  min-height: 400px;
}
