@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/bootstrap";

// Color variables

$main-dark-font: #212529;
$secondary-blue-font: #1e2245;
$main-blue-color: #0092ff;

// Color classes

.main-blue-color {
  background: $main-blue-color;
}

// Font classes

.blue-font {
  color: $secondary-blue-font;
}

.dark-font {
  color: $main-dark-font;
}

// Font size variables

$custom-fs-0-75rem: 0.75rem;
$custom-fs-1-25rem: 1.25rem;
$custom-fs-1-5rem: 1.5rem;
$custom-fs-2rem: 2rem;
$custom-fs-2-125rem: 2.125rem;
$custom-fs-3rem: 3rem;
$custom-fs-3-25rem: 3.25rem;
$custom-fs-3-625rem: 3.625rem;

// Non responsive font sizes

.fs-1-25rem {
  font-size: $custom-fs-1-25rem;
}

// Responsive font sizes

.fs-1rem-to-1-25rem {
  font-size: 1rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-25rem;
  }
}

.fs-1rem-to-1-5rem {
  font-size: 1rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-5rem;
  }
}

.fs-2-125rem-to-3-625rem {
  font-size: $custom-fs-2-125rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-3-625rem;
  }
}

// Root styles

* {
  font-family: "DM Sans", serif;
  color: $main-dark-font;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

// Nav

.header-logo {
  height: 100px;
  width: 150px;
}

#basic-nav-dropdown {
  color: $main-dark-font;
}

#basic-nav-dropdown:hover {
  color: $main-blue-color;
}

.text-indent-dropdown {
  text-indent: 8px;
}
.nav-link:hover,
.dropdown-item:hover {
  color: $main-blue-color;
  background: none;
}

// Footer

.footer-icon {
  height: 30px;
  width: 30px;
  margin: 0 0.5rem;
}

// Border

.dropdown-border {
  border-bottom: 2px solid $main-blue-color;
  width: 100%;
}

// Buttons

.blue-button {
  background-image: linear-gradient(-180deg, $main-blue-color 0%, #1e96c8 100%);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: $custom-fs-1-25rem;
  font-weight: 500;
  justify-content: center;
  padding: 0.5rem 1.75rem;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.blue-button:hover {
  background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
}

.transparent-button {
  border-radius: 50px;
  padding: 10px 25px;
  border: 1px solid $main-dark-font;
  color: $main-dark-font;
  font-weight: 500;
}

.transparent-button:hover {
  text-shadow: 0px 0px 1px $secondary-blue-font;
}
// Utility classes

.fw-500 {
  font-weight: 500;
}

.link-text:hover {
  font-weight: 600;
}

// frontpage

.frontpage-banner {
  height: 400px;
  width: 100%;
  filter: brightness(40%);
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services-card {
  margin: -16px;
  max-width: 427px;
  max-height: 427px;
}

.services-card img {
  filter: brightness(60%);
  transition: filter 0.5s ease;
}

.services-card img:hover {
  filter: brightness(30%);
}

.client-logo {
  height: 75px;
}

@media screen and (min-width: 768px) {
  .banner-content h1,
  .banner-content p {
    max-width: 75%;
  }
  .blue-button {
    padding: 0.75rem 2rem;
  }
}

@media screen and (min-width: 992px) {
  .frontpage-banner {
    height: 600px;
  }
  .banner-content h1,
  .banner-content p {
    max-width: 50%;
  }
  .footer-icon {
    height: 36px;
    width: 36px;
  }
}
